body {
    background-image: url("extendBGblur.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
    font-family: "Karantina", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
}

.bar{
    
}