body{
    background-color: rgb(46, 46, 46);
}

.imgage img {
    /* Set the image to cover the full width of the container */
    width: 100vw;
    /* Set the image to cover the full height of the container */
    height: 100vh;
    /* Set the object-fit property to cover so the aspect ratio of the image is preserved */
    object-fit: cover;
    position: absolute;
    /* Add a blur effect to the image */
    filter: blur(3px);
    
    
}


.title h1{

    position: relative;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 20px;
}

.title {
    /* Center the text */
    text-align: center;
    /* Limit the width of the content */
    max-width: 50%;
    /* Center the content horizontally */
    margin: 0 auto;
}   

.title p {
    position: relative;
    /* Remove default margins */
    margin: 0;
    /* Add some space at the bottom of each element */

    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    text-align:justify;
}
