body {
    background-image: url("http://localhost:8080/TouristWebsite/assets/img/extendBGblur.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.Bar {
    position: absolute;
    top: 0;
    width: 100%;
    
}

.Bar nav ul li {
    display: inline;
    margin-right: 20px;
    color: white;
}

h1 {
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
    font-family: "Karantina", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
}

 li a{
    font-size: 20px;
    text-decoration: none;
    font-family: "Karantina", system-ui;
  font-weight: 400;
  font-style: normal;
}