body {
    background-image: url("../../assets/img/extendBGblur.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.Bar {
    display: flex; 
    justify-content: flex-end;
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 10px;
    padding-right: 900px; /* Adjust as needed */
}


.Bar nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.Bar nav ul li {
    margin-right: 50px;
    color: white;   
}

.welcome{
    color: rgb(255, 255, 255);
    font-size: 20px;
    
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 1px;
}
.welcome:hover{
    color: #feac40;
}

#LogOutBtn {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: none;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#LogOutBtn:hover{
    color: #feac40;
}

li a{
    color: rgb(255, 255, 255);
    font-size: 20px;
    
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 50px;
}

li a:hover{
    color: #feac40;
}



.search__input {
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    padding: 5px 20px;
    width: 200px;
    height: 35px;
    outline: none;
    margin-right: 20px; /* Adjust as needed */
}

.search__input::placeholder {
    color: #FFFFFF; /* Placeholder text color */
}


.search__input:focus {
    border-color: #feac40; /* Border color when input is focused */
    background-color: #000000; /* Change this to any color you want */
    color: #ffac40; /* Text color when input is focused */
}




Button {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 20px;
    padding: 21px 20px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 15px;
    margin-right: 20px;
    align-items: center;
}

button:hover {
    color: #feac40;
}




.title h1 {
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
    font-family: "Karantina", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 250px;
    margin-top: 350px;
    margin-left: 700px;
}
.categories-container {
    display: flex;
    gap: 250px; /* Adjust as needed */
}

a {
    text-decoration: none;
}
.categories p {
    text-decoration: none;
}

.categories {
    display: flex;
    gap: 300px;
    margin-top: 250px;
    
}


.temple{
    display: flex;
    

}

.small-image {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    
    
}

.temple p{
    color: #FFFFFF;
    margin-top: 33px;
    margin-left: 20px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.nature{
    display: flex;
}

.nature p{
    color: #FFFFFF;
    margin-top: 33px;
    margin-left: 20px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.food{
    display: flex;
}

.food p{
    color: #FFFFFF;
    margin-top: 33px;
    margin-left: 20px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.hotel{
    display: flex;
}

.hotel p{
    color: #FFFFFF;
    margin-top: 33px;
    margin-left: 20px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.centre{
    margin-top: 10px;
}

.centre p{
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    
}

.logo{
    color: #FFFFFF;
    margin-left: 35px;
    size: 20px;
    
}

@keyframes flying {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

.logo {
    color: #FFFFFF;
    margin-left: 35px;
    font-size: 20px;
    animation: flying 2s infinite;
}

.flying-text {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    animation: flying 2s infinite;
}



