body {
    background-image: url("../../assets/img/extendBGblur.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.Bar {
    display: flex; /* This will make the children of .Bar align horizontally */
     
    position: absolute;
    top: 0;
    width: 100%;
}

.Bar nav ul li {
    display: inline;
    margin-right: 50px;
    color: white;   
    
}

li a{
    color: rgb(15, 143, 255);
    font-size: 20px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.search__input {
    margin-top: 15px;
    margin-left: 50px;
    width: 200px; /* Adjust as needed */
    height: 35px; /* Adjust as needed */
    border: 1px solid #FFFFFF; /* Light border color */
    border-radius: 20px; /* Rounded corners */
    padding: 5px 20px; /* Space around text */
    background: transparent;
    color: #FFFFFF; /* Text color */
    outline: none;
}

.search__input::placeholder {
    color: #FFFFFF; /* Placeholder text color */
}


.search__input:focus {
    border-color: #feac40; /* Border color when input is focused */
    background-color: #000000; /* Change this to any color you want */
    color: #feac40; /* Text color when input is focused */
}


   button {
            font-size: 20px;
            padding: 10px 20px;
            color: white;
            background-color: #4CAF50;
            border: none;
            cursor: pointer;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }
        button:hover {
            background-color: #45a049;
        }

h1 {
    color: white;
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 1;
    font-family: "Karantina", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
}






